html
  head
    title Linky Tempo
    meta(charset="utf-8")
    script(src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js")
    script(type="text/javascript" src="https://unpkg.com/tabulator-tables@6.0.0/dist/js/tabulator.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
  body
    #main
      #daterange
        i.fa.fa-chevron-left(onclick="prev()")
        input(type="text" name="daterange")
        i.fa.fa-chevron-right(onclick="next()")
      #tempo
      #chart
      #table
        #table-chart
        #pie-chart
    script(src="theme.js")
    script(src="script.js")
    link(href="styles.css" rel="stylesheet")
    link(href="tabulator.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")