html
  head
    title Linky Tempo
    meta(charset="utf-8")
    script(src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js")
    script(type="text/javascript" src="https://unpkg.com/tabulator-tables@6.0.0/dist/js/tabulator.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
  body
    style.
      html, body, #main {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
        background: rgb(48, 52, 70);
      }
      #chart {
        width: 100%;
        height: 70%;
      }
      #table-chart {
        width: calc(70% - 120px);
        height: calc(100% - 40px);
        float:left;
      }
      #pie-chart {
        width: 30%;
        height: 100%;
        float:left;
      }
      #table {
        width: 100%;
        height: 30%;
        padding: 20px 60px;
      }
      #daterange {
        position: absolute;
        z-index: 2;
        top: 10px;
        width: 300px;
        left: calc(50% - 150px);
        font-size: 20px;
        color:white;
      }
      #daterange i {
        cursor: pointer;
      }
      #daterange input {
        text-align: center;
        background: rgb(48, 52, 70);
        border: 0!important;
        width: 260px;
        color:white;
        font-size: 20px;
      }
      .tooltip {
        color: #fafafa;
        text-align: right;
        background: rgb(48, 52, 70);
      }
      .tooltip .color {
        width: 20px;
        height: 10px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
      }
      .colorBuble {
        width: 30px;
        height: 15px;
        margin: 5px 5px;
        display: inline-block;
        border-radius: 5px;
      }
    #main
      #daterange
        i.fa.fa-chevron-left(onclick="prev()")
        input(type="text" name="daterange")
        i.fa.fa-chevron-right(onclick="next()")
      #chart
      #table
        #table-chart
        #pie-chart
    script(src="theme.js")
    script(src="script.js")
    link(href="tabulator.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")