doctype html
html
  head
    title Linky Tempo
    meta(charset="utf-8")
    script(src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js")
    script(type="text/javascript" src="https://unpkg.com/tabulator-tables@6.0.0/dist/js/tabulator.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
    link(rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png")
    link(rel="manifest" href="icons/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="icons/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
  body
    #main
      #daterange
        i.fa.fa-chevron-left(onclick="prev()")
        input(type="text" name="daterange")
        i.fa.fa-chevron-right(onclick="next()")
      #tempo
      #chart
      #table
        #table-chart
        #pie-chart
    script(src="theme.js")
    script(src="script.js")
    link(href="styles.css" rel="stylesheet")
    link(href="tabulator.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
    link(rel="stylesheet" type="text/css" href="css/font-awesome.min.css")