html
  head
    title Linky Tempo
    meta(charset="utf-8")
    script(src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js")
  body
    style.
      html, body, #main {
      width: 100%;
      height: 100%;
      margin: 0;
      }
    #main
    script(src="script.js")