
html, body, #main {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: rgb(48, 52, 70);
}
#tempo {
  width: 100%;
  height: 70px;
}
#chart {
  width: 100%;
  height: calc(60% - 70px);
}
#table-chart {
  width: calc(70% - 30px);
  height: calc(100% - 20px);
  float:left;
}
#pie-chart {
  width: 30%;
  height: 100%;
  float:left;
}
#table {
  width: 100%;
  height: 40%;
  padding: 10px 15px;
}
#daterange {
  position: absolute;
  z-index: 2;
  top: 70px;
  width: 340px;
  left: calc(50% - 170px);
  font-size: 20px;
  color:white;
}
#daterange i {
  cursor: pointer;
}
#daterange input {
  text-align: center;
  background: rgb(48, 52, 70);
  border: 0!important;
  width: 260px;
  color:white;
  font-size: 20px;
}
.tooltip {
  color: #fafafa;
  text-align: right;
  background: rgb(48, 52, 70);
}
.tooltip .color {
  width: 20px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.colorBuble {
  width: 30px;
  height: 15px;
  margin: 5px 5px;
  display: inline-block;
  border-radius: 5px;
}

#tempo .card {
  width: calc(35% - 30px);
  padding: 15px;
  height: calc(100% - 30px);
  float: left;
}
#tempo .card .inner {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align:center;
  line-height: 40px;
  color: #fff;
  background-color: #555;
  font-family: "Gill Sans", sans-serif;
}
#tempo .card.Bleu .inner {
  background-color: #0984e3;
}
#tempo .card.Rouge .inner {
  background-color: #ff7675;
}
#tempo .card.Blanc .inner {
  background-color: #fff;
  color: #555;
}
#tempo .missing {
  float: left;
  width: 10%;
  height: 100%;
  vertical-align: top;
  color: white;
  padding: 25px 0;
}
#tempo .missing .bubble {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
  float: left;
  margin-right: 15px;
}
#tempo .missing.blue .bubble {
  background-color: #0984e3;
}
#tempo .missing.white .bubble {
  background-color: #fff;
}
#tempo .missing.red .bubble {
  background-color: #ff7675;
}
#tempo .missing .text {
  display: block;
  line-height: 20px;
  float: left;
}